<center><img src= "https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width="300"></center><br>
logo phyton<br>
tempat menuliskan kode disebut sebagai <b>cell</b><br>
<ol>
    <li>code - y</ol>
    <li>markdown - m</li>
    <ol>
    <hr>
    cara menjalankan cell<br>
    <table>
        <tr>
            <td>command<td>
            <td> keterangan</td>
        </tr>
        <tr>
            <td>ctrl + enter </td>
            <td>running dan fokus di cell aktif</td>
        </tr>
        <tr>
            <td>shift + enter </td>
            <td> running dan fokus di cell berikutnya</td>
        </tr>
        <table>

name = "Dedi"
age = 20
address = "jl.Cibolang","75645666"
scorepython = 80.5
isMarried = false

print("Nama :",name)
print("umur :",age)
print("Alamat:",address)
print("Nilai pemrograman :", scorePython)
print("Status MEnikah :", IsMarried)

In [11]:
name = "Dedi"
age = 20
address,province = "jl.Cibolang","75645666"
scorePython = 80.5
isMarried = False

print("Nama :",name)
print("umur :",age)
print("Alamat:",address)
print("Nilai pemrograman :", scorePython)
print("Status MEnikah :", isMarried)

Nama : Dedi
umur : 20
Alamat: jl.Cibolang
Nilai pemrograman : 80.5
Status MEnikah : False

In [12]:
print("Tipe Data<name>",type(name))
print("Tipe Data<age>",type(age))
print("Tipe Data<address>",type(address))
print("Tipe Data<province>",type(province))
print("Tipe Data<scorePython>",type(scorePython))
print("Tipe Data<isMarried>",type(isMarried))

Tipe Data<name> <class 'str'>
Tipe Data<age> <class 'int'>
Tipe Data<address> <class 'str'>
Tipe Data<province> <class 'str'>
Tipe Data<scorePython> <class 'float'>
Tipe Data<isMarried> <class 'bool'>

In [21]:
#catrToInt = int(province)
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float (province)
strToBool = bool(province)
print (strToInt,strToFloat,strToBool, sep="-")
#Konversi dari int ke (str,int,bool)
intToStr = str (age)
intToFloat = float (age)
intToBool = bool (age)
print  (intToStr,intToFloat,intToBool, sep="-")
#konversi dari float ke (str,int , bool)
FloatToStr = str(scorePython)
FloatToInt = int (scorePython)
FloatToBool = bool (scorePython)
print  (FloatToStr,FloatToInt,FloatToBool, sep="-")
#konversi dari bool ke (str,int , bool)
boolToInt = int (isMarried)
boolToFloat = float  (isMarried)
boolToStr = str  (isMarried)
print  (boolToInt,boolToFloat,boolToStr, sep="-")

75645666-75645666.0-True
20-20.0-True
80.5-80-True
0-0.0-False

In [22]:
city = "Sukabumi"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

S
i

In [25]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal : ", desimal)
print("Nilai Desimal dari 0xffP:",hexa)
print("Nilai Desimal dari 0b1010:",biner)
print("Nilai Desimal dari 0o377:",octal)
print("=======")
print("Nilai Biner Dari:",desimal,bin(desimal))
print("Nilai Octal Dari:",desimal,oct(desimal))
print("Nilai Hexa Dari:",desimal,hex(desimal))

Nilai Desimal :  200
Nilai Desimal dari 0xffP: 255
Nilai Desimal dari 0b1010: 10
Nilai Desimal dari 0o377: 255
=======
Nilai Biner Dari: 200 0b11001000
Nilai Octal Dari: 200 0o310
Nilai Hexa Dari: 200 0xc8

In [63]:
#Tipe data Collection

cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Medan"
print(cities)
print(cities[len(cities)-1][0])

#Tuple
names = ("Andi","Budi","Caca")
print(names)
#names[0] = "Rudi akan menyebabkan error, karena tuple adalah imutable"
studentData = {
     "name" : "Dedi",
    "address" : {
        "street" : "lodaya Allbase",
        "number" : 34,
        "province" : "west java"
    },
    "age" : 34,
    "isMarried" : "True"
},



listStudent = {
    
}
    "name" : "ukar",
    "address" : {
        "street" : "lodaya Allbase",
        "number" : 34,
        "province" : "west java"
    },
    "hobbies" : ["basket","football"]
    "age" : 34,
    "isMarried" : "True"
},
{
    "name" : "Budi",
    "address" : {
        "street" : "DwiDarma",
        "number" : 34,
        "province" : "west java"
    },
    "age" : 34,
    "isMarried" : "False"
}

print(studentData)
print(studentData["address"]["province"])#west java
print(listStudent[1])
print(listStudent[0]["hobbies"][1])
print(listStudent[0]["age"]) #34-umur Dedi

IndentationError: unexpected indent (3415673436.py, line 31)

In [2]:
#casting Dictonary

list_tuple = [("name","Dika"),("Nilai","80")]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [("buah","apel"),("harga","10000")]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("name","cindo"),("nilai","65"))
dictName =  dict(tuple_tuple)
print(dictName)

tuple_list = [("buah","mangga"),("harga","80000")]
dictBuah = dict(tuple_list)
print(dictBuah)

keys = ["name","age","address"]
values = ["yaman","19", "Sukabumi"]

dictData = dict(zip (keys,values))
print(dictData)

{'name': 'Dika', 'Nilai': '80'}
{'buah': 'apel', 'harga': '10000'}
{'name': 'cindo', 'nilai': '65'}
{'buah': 'mangga', 'harga': '80000'}
{'name': 'yaman', 'age': '19', 'address': 'Sukabumi'}